<div class="container">
    <mat-toolbar>
        <span>Pagina de Usuarios</span>

        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" routerLink="/inicio/crear-usuario">Registrar.</button>

      </mat-toolbar>     




<div *ngIf="listUsuarios.length > 0">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>


    <div class="mat-elevation-z2">


        <!-- inicio tabla -->
        <table  mat-table [dataSource]="dataSource" matSort>
        
            
            <!-- Position Column -->
            <ng-container matColumnDef="usuario">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario. </th>
              <td mat-cell *matCellDef="let element" > {{element.usuario}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre. </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="apellido">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido. </th>
              <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="sexo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo. </th>
              <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
            </ng-container>
        
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef></th>
        
                <!-- probar borrado -->
                <td mat-cell *matCellDef="let element; let i = index " style="text-align:right;">
                <!-- <td mat-cell *matCellDef="let element" style="text-align:right;"> -->
        <a class="pointer" style="color: #1878b0;" matTooltip="Buscar usuario">
            <mat-icon>search</mat-icon>
        </a>
        <a class="pointer" style="color: #174058;" matTooltip="Editar usuario">
            <mat-icon>edit</mat-icon>
        </a>
        <a class="pointer" (click)="eliminarUsuario(i)" style="color: #7c191e;" matTooltip="Borrar usuario">
            <!-- <a class="pointer" (click)="eliminarUsuario()" style="color: #7c191e;" matTooltip="Borrar usuario"> -->
            
            <mat-icon>delete</mat-icon>
        </a>
        
                </td>
              </ng-container>
        
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="ancho"></tr>
          </table>
        <!-- fin tabla -->
        
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        
        
        </div>
</div>

<h2 *ngIf="listUsuarios.length == 0" >No hay Usuarios para mostrar</h2>
</div>
    